* {
  background-color: #181818;
}

#message_box {
  position: fixed;
  bottom: 0;
  left: 0; /* Garante que o box fique alinhado à esquerda */
  width: 100%; /* Ocupa toda a largura da tela */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  background-color: #212121;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#message_form {
  display: flex;
  width: 100%; /* Ocupa toda a largura dentro do box */
  gap: 10px;
  background-color: #212121;
  padding: 8px;
}

#message_form input {
  flex: 1; /* Garante que o input ocupe todo o espaço restante */
  border: 2px solid;
  border-radius: 16px;
  background-color: #212121;
  color: white;
  padding: 10px;
  outline: none;
}

#message_form button {
  padding: 10px 20px;
  border: none;
  border-radius: 16px;
  background-color: rgb(41, 41, 232);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

#message_form button:hover {
  color: rgb(41, 41, 232);
  background-color: white;
}

.chat_history {
  color: white;
}